extend App

block body
    secction.detail-contact
      ul.detail-contact__list
        li.detail-contact__item #{name} #{surname}
        li.detail-contact__item #{email} #{phone}
        li.detail-contact__item #{birthdate} in #{country}